@model List<BlogStore.EntityLayer.Entities.Article>
<div class="sidebar-box">
    <h3 class="heading">Popüler Makaleler</h3>
    <div class="post-entry-sidebar">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Article/ArticleDetail/@item.ArticleId">
                        <img src="@item.ImageUrl" alt="Image placeholder" class="me-4 rounded">
                        <div class="text">
                            <h4>@item.Title</h4>
                            <div class="post-meta">
                                <span class="mr-2">@item.CreatedDate.ToString("dd MMMM yyyy HH:mm") </span>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>