@model UserLoginViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <br />
        <label>Kullanıcı Adı:</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>Şifre:</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Giriş Yap</button>

    </div>
</form>