@model List<BlogStore.EntityLayer.Entities.Comment>
@{
    ViewData["Title"] = "CommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12">
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-0">Yorumlarım</h4>
        </div>
        <div class="comment-widgets scrollable mb-2 common-widget" style="height: 465px" data-simplebar="">
            <!-- Comment Row -->
            @foreach (var item in Model)
            {
                <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                    <div class="comment-text w-100">
                        <h6 class="fw-medium">Ben</h6>
                        <p class="mb-1 fs-2 text-muted">
                            @item.CommentDetail
                        </p>
                        <div class="comment-footer mt-2">
                            <div class="d-flex align-items-center">
                                <span class="badge bg-info-subtle text-success">Uygun</span>
                                <span class="action-icons active">
                                    <a href="/Comment/UpdateComment/@item.CommentId" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                                    <a href="/Comment/DeleteComment/@item.CommentId" class="ps-3"><i class="ti ti-circle-x fs-5"></i></a>
                                </span>
                            </div>
                            <span class="text-muted ms-auto fw-normal fs-2 d-block mt-2 text-end">@item.CommentDate.ToString("MMMM dd, yyyy HH:mm")</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>