@model BlogStore.EntityLayer.Entities.Comment
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Ad Soyad</label>
        <br />
        <label>Yorum Detayı</label>
        <input type="text" asp-for="CommentDetail" class="form-control" />
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>

