<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flexy Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="~/flexy-bootstrap-lite-1.0.0/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/flexy-bootstrap-lite-1.0.0/assets/css/styles.min.css" />
</head>